[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RKorAPClient"]
	path = RKorAPClient
	url = https://github.com/korap/rkorapclient
	shallow = true
	registered = true
